name: Build
permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: install-dependencies
      run: |
        DEBIAN_NONINTERACTIVE=1 sudo apt-get update -y
        DEBIAN_NONINTERACTIVE=1 sudo apt-get install -y meson ninja-build libtss2-dev libpam-dev clang swtpm libtss2-tcti-swtpm0 tpm2-tools
    - uses: actions/checkout@v4
    - name: setup build
      run: CC=clang meson setup build
    - name: build
      run: |
        cd build
        ninja
    - name: test
      run: |
        cd build
        meson test --print-errorlogs
